@import "backend_variables";

body {
  @media screen and (min-width: 767px) {
    #app {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media screen and (max-width: 767px) {
    #app {
      padding-top: 100px;
    }
  }

  input {
    color: $color-dark-green;
  }

  input:focus {
    border-color: rgba(0, 0, 0, 0.5)!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,0,0,0.075)!important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: white!important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(34, 45, 50, 0.9) inset!important;
    transition: background-color 5000s ease-in-out 0s!important;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 45, 50, 0.65);
  }

  background: url("/images/backend/backend-login-background.jpg") no-repeat center/cover;
  height: 100vh;

  .panel {

    > .panel-heading {
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 17px;
      padding: 5px 15px;
    }
    background-color: rgba(255, 255, 255, 0.85);
  }

  label {
    color: $color-dark-green;
  }

  .btn.btn-primary {
    background-color: $color-dark-green;
    color: white;
    border-color: rgba(34, 45, 50, 0.65);
    transition: 0.5s;

    &:hover {
      background-color: rgba(34, 45, 50, 0.9);
      border-color: rgba(34, 45, 50, 1);
    }
  }

  .btn.btn-link {
    color: $color-dark-green;

    &:hover {
      color: $color-dark-green;
    }
  }
}