footer {
  #footer_columns {
    padding: 58px 0 23px 0;
  }
  .copyright {
    margin: 0!important;
  }
  #footer_copyright {
    margin-bottom: -1px;
  }
}

#back_to_top:before {
  border-color: #333;
}